@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap');

:root {
  --color--primary: #F78C25;
  --color--primary--hover: #F78C25;
  --color--secondary: #FC4519;
  --color--tertiary: #FCBB19;
  --color--font--nav: #707070;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

header {
  position: fixed;
  top: 0;
  padding: 10px;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: end;
  justify-content: space-between;
  background-color: #ffffff;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
}

header #logo {
  margin-left: 50px;
}

#nav-bar ul {
  display: flex;
  margin-right: 10px;
}

#nav-bar li {
  list-style-type: none;
  font-size: 20px;
  color: var(--color--font--nav);
}

#nav-bar li + li {
  margin-left: 30px;
}

#nav-bar a {
  text-decoration: none;
  color: inherit;
  padding: 8px;
  border-radius: 15px;
  user-select: none;
}

#nav-bar a:hover {
  color: #ffffff;
  background-color: var(--color--primary--hover);
}

#nav-bar a:hover + #selected {
  display: none;
}

#nav-bar span {
  user-select: none;
}

#nav-bar hr {
  border: none;
  height: 3px;
  background-color: var(--color--primary);
  margin-top: 2px;
}

.container {
  margin: 80px 40px 0 40px;
}

.field-title {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.field-title .title {
  margin-right: 20px;
  font-weight: 500;
}

#name-user {
  margin-right: 30px;
  color: var(--color--secondary);
}

.field-title .button-clear {
  width: 125px;
  height: 40px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px;
  background-color: var(--color--primary);
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.field-title .button-register:hover {
  background-color: var(--color--tertiary);
}

#list-anime {
  display: flex;
  overflow: auto;
}

.div-card-anime {
  border: 1px solid;
  width: 100%;
  max-width: 250px;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 5px;
}

.div-card-anime + .div-card-anime {
  margin-left: 30px;
}

.div-card-anime .div-name-user {
  align-self: flex-start;
  margin-left: 10px;
}

.div-name-user .p-name-user {
  cursor: pointer;
  color: var(--color--primary);
}

.div-card-anime .div-watch-anime {
  align-self: flex-end;
  margin-right: 20px;
}

.div-card-anime .div-img-anime-card {
  width: 100%;
  max-width: 220px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 10px;
}

.div-img-anime-card .img-anime {
  height: 100%;
}

.div-watch-anime .link-watch-anime {
  text-decoration: none;
  color: var(--color--secondary);
}

.div-img-anime-card .img-anime {
  width: 100%;
  height: 100%;
}

.div-description-anime-card .p-name-anime-card {
  margin-bottom: 4px;
}

.div-description-anime-card .p-temp-ep-anime-card {
  font-size: 12px;
  color: var(--color--font--nav);
}

.div-info-anime {
  margin-bottom: 4px;
}

.div-info-anime {
  cursor: pointer;
}
